extends /node_modules/scp-ng-gulp/resources/pug/list-page

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="pkg.rwhois.client.contact.list.TITLE")
      a.btn.btn-default(ng-click="vm.list.scrollToAnchor('contact-create-form')")
        i.fa.fa-plus
      a.btn.btn-default(ng-click="vm.list.refresh.now()")
        i.fa.fa-refresh
      a.btn.btn-default(ng-click="vm.filters.visible = !vm.filters.visible")
        i.fa.fa-filter
    pkg-rwhois-contact-filters(
      show="vm.filters.visible"
      current="vm.filters.current"
      change="vm.filters.change()"
    )
    pkg-rwhois-contact-table.border-top-table
    list-footer

block bottom-left
  form(
    ng-submit="vm.create.submit()"
    id="contact-create-form"
  )
    +panel("{{ 'pkg.rwhois.client.contact.form.TITLE' | translate }}").relative
      .loader(ng-class="vm.allowedRolesLoader.class")
      .panel-body.form-horizontal
        div.panel-body(ng-if="vm.allowedRolesLoader.hasLoaded && !vm.allowedRoles.length")
          p.text-center(translate="pkg.rwhois.client.contact.form.NO-ROLES")

        div(ng-if="!vm.allowedRolesLoader.hasLoaded || vm.allowedRoles.length")
          pkg-rwhois-contact-form(form="vm.create")

      .panel-footer.clearfix(ng-if="!vm.allowedRolesLoader.hasLoaded || vm.allowedRoles.length")
        .pull-right
          input.btn.btn-info(
            type="submit"
            value="{{ 'pkg.rwhois.client.contact.form.TITLE' | translate }}"
          )
